<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="forms">
        <form action="/register" method="post">
        <input type="text"
        name="company"
        placeholder="Enter company name"
        >

        <input type="text"
        name="position"
        placeholder="Enter position in company"
        >

        <input type="date"
        name="startDate"
        placeholder="Enter Start date"
        >
        <input type="date"
        name="endDate"
        placeholder="Enter last date"
        >

        <label>
            <input type="radio" name="current" value="yes" id="currentYes">
            Yes, Currently Working
        </label>
        <label>
            <input type="radio" name="current" value="no" id="currentNo">
            No
        </label>

        <input type="text"
        name="technologies"
        placeholder="Enter technologies Learned"
        >

        <input type="text"
        name="achievement"
        placeholder="Enter achievement"
        >

        <button type="submit">Submit</button>
        
    </form>
    </div>

    <script src="index.js"></script>
</body>
</html>